body
{
    background-color: rgb(225, 225, 225);
}

.header
{
    position: sticky;
    top: 0;
    background-color: white;
    margin-bottom: auto;
    z-index: 100;
}

.footer
{
    text-align:center;
    position: sticky;
    bottom: 0;
    background-color: white;
    margin-top: auto;
    z-index: 100;
}

.text_align_right
{
    text-align: right;
}

.text_align_left
{
    text-align: left;
}

.text_align_center
{
    text-align: center;
}

.alert-message
{
    color: red;
    font-size: bold;
}

.middle_page
{
    height: 100%;
    width: 100%;
    padding: 25px;
}