body
{
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

.header
{
    position: sticky;
    top: 0;
    background-color: rgb(206, 177, 132);
    margin-bottom: auto;
    z-index: 100;
}


.middle_page
{
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    flex: 1;    
    margin: 25px;
}

.page
{
    background-color: rgb(206, 177, 132);
    flex: 1;
}

.footer
{
    text-align:center;
    position: sticky;
    bottom: 0;
    background-color: rgb(206, 177, 132);
    margin-top: auto;
    z-index: 100;
}

.text_align_right
{
    text-align: right;
}

.text_align_left
{
    text-align: left;
}

.text_align_center
{
    text-align: center;
}

.alert-message
{
    color: red;
    font-size: bold;
}

.input
{
    height: 35px;
    width: 250px;
    min-width: 33px;
    max-width: 100%;
    border-width: 2px;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 6px;
}

.completion-form
{
    background-color: rgb(225, 225, 225);
    padding: 25px;
    border-radius: 50px;
    max-width: 600px;
}

.submit-input
{
    display: flex;
    justify-content: center;
    align-items: center;
}


